body {
    background-color: #e0f2e9;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    border: 25px solid #77d876;
    padding: 10px;
    box-sizing: border-box;
}

/* Samuel Lubliner */


