.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar{
 list-style-type: none;
}

li{
  color: white;
  text-align: center;
  padding: 14px 16px;
}
body{
background-color:rgb(102,179,255);
}

